body {
    margin: 0;
    background-color: #333;
}

#main {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: -webkit-linear-gradient(top, transparent 19px, #333 20px);
    background-size: 100% 20px;
    background-color: #ccc;
}

#main:before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: -webkit-linear-gradient(left, transparent 19px, #333 20px);
    background-size: 20px 100%;
}
