/*public*/

html,
body {
    height: 100%;
    overflow: hidden;
}


/*画布*/

.canvas {
    display: block;
}


/*main*/

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.user-wrap {
    font-weight: 700;
    position: absolute;
    color: rgba(0, 0, 0, .4);
    background: -webkit-linear-gradient(34deg, rgba(255, 255, 51, .4), rgba(255, 153, 51, .4), rgba(0, 102, 255, .4), rgba(51, 255, 153, .4));
    background: -o-linear-gradient(34deg, rgba(255, 255, 51, .4), rgba(255, 153, 51, .4), rgba(0, 102, 255, .4), rgba(51, 255, 153, .4));
    background: linear-gradient(34deg, rgba(255, 255, 51, .4), rgba(255, 153, 51, .4), rgba(0, 102, 255, .4), rgba(51, 255, 153, .4));
    background: -moz-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    width: 100%;
    padding-top: 3rem;
}

.user-name {
    font-size: 5rem;
    letter-spacing: .2rem;
}

.user-greet {
    font-size: 1.6rem;
}


/*search*/

.search-wrap {
    font-size: 0;
    display: inline-block;
    height: 3.6rem;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
    position: relative;
    max-width: 100%;
    width: 40rem;
    padding: 0 4rem;
}

.chrome,
.baidu {
    display: inline-block;
    width: 3.6rem;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.chrome {
    left: 0;
}

.baidu {
    right: 0;
}

.search-ipt {
    font-size: 1.143rem;
    height: 100%;
    vertical-align: middle;
    color: #333;
    background-color: transparent;
    display: inline-block;
    width: 100%;
}


/*媒体查询*/

@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    .user-name {
        font-size: 4rem;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 800px) {
    .user-name {
        font-size: 2rem;
    }
}
