/* base */

body {
    margin: 0;
}


/*all-wrap*/

.all-wrap {
    overflow: auto;
    min-width: 1002px;
}


/*map*/

.map-wrap {
    position: relative;
    float: left;
    width: 780px;
    height: 500px;
    padding-left: 20px;
    border: 1px solid #999;
}

#MapColor {
    position: absolute;
    top: 40px;
    right: 100px;
    width: 30px;
    background-color: #999;
}

#MapColor > span {
    display: block;
    width: 30px;
    height: 30px;
}

#MapColor > em {
    font-family: '微软雅黑';
    font-size: 14px;
    font-style: normal;
    line-height: 30px;
    position: absolute;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
}

.map-color-high {
    top: 0;
}

.map-color-low {
    bottom: 0;
}

.stateTip {
    position: absolute;
    display: none;
    padding: 8px;
    border: 1px solid #fff;
    background-color: rgba(153, 153, 153, .8);
    box-shadow: 0 0 5px 0 #6ff;
}

.mapInfo i {
    font-family: Arial, '微软雅黑';
    font-size: 10px;
    font-style: normal;
    line-height: 18px;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
}

.mapInfo span {
    font-family: '微软雅黑';
    font-size: 14px;
    padding: 0 5px;
    letter-spacing: 1px;
    color: #fff;
}

.mapInfo b {
    font-family: Arial, '微软雅黑';
    font-weight: normal;
    color: #f00;
}

.amap-logo,
.amap-copyright {
    display: none;
}


/*city data*/

#city-data {
    font-family: '微软雅黑';
    display: none;
    float: left;
    width: 200px;
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: none;
    background-color: #ccc;
}

#city-data > span {
    display: block;
    margin-bottom: 5px;
    padding: 2px 0 3px 0;
    text-align: center;
    color: #333;
    background-color: #999;
}

#city-data > li:last-child {
    margin-bottom: 0;
}

#city-data > li > a,
#city-data > li > span {
    line-height: 20px;
    display: block;
    height: 20px;
    padding-left: 5px;
    text-decoration: none;
    color: #309;
}

#city-data > li > span > i {
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    padding-right: 5px;
}

#city-data > li > span > i,
#city-data > li > span > em {
    font-style: normal;
}

#city-data > li > em {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    display: block;
    height: 20px;
    margin-left: 20px;
    color: #333;
}

#city-data > li > em > i {
    font-style: normal;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    color: #f80;
}
