@charset 'utf-8';

.transtion {
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out
}

.clear {
  zoom: 1
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.left {
  float: left
}

.right {
  float: right
}

.t-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}