@charset 'utf-8';

/**
 * Created by hangyangws(hangyangws@foxmail.com) in 2016-08-04.
 */


/*public class*/

.m-width {
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.sub-line {
  text-decoration: underline;
}

.left-line::before {
  display: inline-block;
  width: 0;
  height: 12px;
  margin-right: 5px;
  content: '';
  vertical-align: middle;
  border-left: 2px solid #ccc;
}


/*css icon*/

.i-signout {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.i-signout::before {
  position: absolute;
  top: 8px;
  left: 2px;
  display: block;
  width: 16px;
  height: 4px;
  content: '';
  background-color: #666;
}

.i-signout::after {
  position: absolute;
  top: 2px;
  left: 12px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 8px solid transparent;
  border-left-color: #666;
}

.i-del {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  border: 1px solid #999;
  border-radius: 4px;
}

.i-del::before {
  font-size: 16px;
  font-weight: bold;
  line-height: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '×';
  text-align: center;
}

.i-deny {
  position: relative;
  display: inline-block;
  overflow-y: hidden;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  border: 2px solid #666;
  border-radius: 50%;
}

.i-deny::before {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: 2px;
  content: '/';
}


/*header*/

.header {
  margin-top: 80px;
}


/*nav*/

.nav-tit {
  font-size: 26px;
}

.nav a {
  line-height: 28px;
  display: inline-block;
  margin-left: 2px;
  padding: 0 .6em;
  vertical-align: bottom;
  border: 2px solid #333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.nav a:hover {
  line-height: 34px;
}

.nav .nav-active {
  line-height: 34px;
  color: #fff;
  border-bottom-color: #666;
  background-color: #666;
}


/*main-wrap*/

.main-wrap {
  margin-top: -2px;
  border: 2px solid #333;
}


/*filter*/

.filter {
  background-color: #666;
}

.filter-list span {
  line-height: 20px;
  display: inline-block;
  min-width: 40px;
  margin-left: 10px;
  padding: 0 10px;
  border: 2px solid #555;
  border-radius: 12px;
  background-color: #999;
}

.filter-list .filter-active {
  background-color: #eee;
}


/*main-con*/

.main-con {
  height: 800px;
  border-top: 2px solid #333;
}


/*main-sec*/

.main-sec {
  right: 252px;
  overflow-y: auto;
}

.list-item {
  border: 2px solid #555;
  background-color: #c5e4ac;
}

.list-denied {
  background-color: #fffab0;
}

.list-denied .list-deny {
  display: none;
}

.list-con {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 70px;
}

.list-c-top,
.list-resourch {
  line-height: 25px;
}


/*add resources*/

.add-resources {
  z-index: 2;
  top: 100%;
  width: 80%;
  max-width: 800px;
  margin-top: 16px;
  border: 2px solid #555;
  border-radius: 10px;
  background-color: #dceace;
}

.add-resources::before {
  position: absolute;
  top: -12px;
  left: 20px;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  -webkit-transform: -webkit-rotate(45deg);
  -moz-transform: -moz-rotate(45deg);
  -o-transform: -o-rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #555;
  border-left: 2px solid #555;
  background-color: #dceace;
}

.res-val {
  line-height: 20px;
  border: 2px solid #999;
}

.add-res-btn button {
  line-height: 20px;
  display: inline-block;
  padding: 0 1em;
  border: 2px solid #666;
  border-radius: 12px;
  background-color: #fff;
}


/*aside*/

.aside {
  overflow-y: auto;
  width: 230px;
  padding: 0 10px;
  border-left: 2px solid #555;
}

.list-sec {
  margin: 10px 0;
}

.list-sec h4 {
  border-bottom: 2px solid #ccc;
}

.list-sec li {
  margin-top: 10px;
}

.list-sec-2 span:first-child {
  display: inline-block;
  width: 50%;
}
